:root{
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    text-align: center;
}
.main-section{
    background-image: url(images/bg-pattern-intro.svg), linear-gradient(135deg, var(--very-light-red-gradient) 10%, var(--light-red-gradient) 70%);
    background-position: 40% 50%;
    background-size: 2000px 2000px;
    border-radius: 0 0 0 64px;
    color: white;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5vh 7vw;
}
.logo{
    background-image: url(images/logo.svg);
    height: 40px;
    width: 100px;
}

.mobile-menu{
    height: 18px;
    width: 30px;
}
.nav-menu{
    display: none;
}
.menu-icon{
    display: none;
}
.hamburguer{
    background-image: url(images/icon-hamburger.svg);
    height: 18px;
    width: 30px;
}
.close{
    background-image: url(images/icon-close.svg);
    background-position: center;
    display: none;
    height: 18px;
    width: 30px;
}
.menu-icon:checked + label .hamburguer{
    display: none;
}
.menu-icon:checked + label .close{
    display: block;
}
.menu-icon:checked ~ .nav-menu{
    display: block;
}
.nav-menu{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:black;
    overflow: hidden;
    padding: 1rem;
    position:absolute;
    top: 5.5rem;
    left: 20vw;
    width: 60vw;
}
.nav-menu .categories{
    overflow: hidden;
}
.nav-menu .categories .dropbtn{
    background-color: inherit;
    border: none;
    color: var(--very-dark-black-blue);
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    font-weight: bold;  
    margin: 0;
    outline: none;
    padding: 14px 16px;
}
.nav-menu .categories .dropbtn::after{
    display: inline-block;
    content: url(images/icon-arrow-dark.svg);
    padding: 0 1vw;
}
.nav-menu .categories .categories-item{
    display: none;
}
.nav-menu .categories .categories-item:checked + label .dropbtn::after{
    transform: rotate(180deg);
}
.nav-menu .categories .categories-item:checked ~ .dropdown-content{
    display: block;
}
.dropdown-content {
    background-color: var(--grayish-blue);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    font-family: 'Overpass', sans-serif;
    font-size: 13px;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a{
    color: var(--very-dark-grayish-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.desktop-use{
    display: none;
}

hr{
    border: 0;
    border-top: 1px solid var(--grayish-blue);
    margin: 2vh auto;
}
.login, .sign-up{
    font-family: 'Overpass', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto;
}
.login{
    background: none;
    color: var(--very-dark-black-blue);
}
.sign-up{
    background: linear-gradient(135deg, var(--very-light-red-gradient) 10%, var(--light-red-gradient) 70%);
    color: white;
    
}

.title{
    padding: 10vh 10vw 5vh;
}
h1,h2{
    font-family: 'Overpass', sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 2vh;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
}
button{
    border: 1px solid white;
    border-radius: 3rem;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 5px 5px 15vh;
    padding: 1rem;
    width: 160px;
}
.solid-button{
    background-color: white;
    color: var(--light-red-gradient);
}
.transparent-button{
    background: none;
    color: white;
}


.design-section{
    margin: 15vh 0 30vh;
}
.design-image{
    background-image: url(images/illustration-editor-mobile.svg);
    height: 331px;
    margin: 5vh auto -5vh;  
}
.design-section h2, .laptop-section h2{
    color: var(--very-dark-blue);
    margin: 5vh 3vw 2vh;
}
.design-section p, .laptop-section p{
    color: var(--very-dark-grayish-blue);
    margin: auto 6vw;
}

.phone-section{
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(153deg, rgba(44,45,63,1) 31%, rgba(63,65,100,1) 94%);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0 64px;
    color: white;
}
.phone-section::before{
    content: "";
    background: url(images/illustration-phones.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 50vh;
    display: block;
    height: 50vh;
    margin: 0 auto -30vh;
    position: relative;
    bottom: 25vh;
    width: 100vw;
}
.phone-section h2{
    margin: 5vh 3vw 2vh;
}
.phone-section p{
    color: var(--grayish-blue);
    margin: auto 6vw;
    padding-bottom: 10vh;
}

.laptop-image{
    background-image: url(images/illustration-laptop-mobile.svg);
    height: 359px;
    margin: 5vh auto -10vh;
}
.design-image, .laptop-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 95vw;
}
.footer{
    background-color: var(--very-dark-black-blue);
    border-radius: 0 64px 0 0;
    font-family: 'Ubuntu', sans-serif;
}
.footer .logo{
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 5vh auto;
    padding: 5vh 0 0;
}
.footer .footer-section{
    display: flex;
    flex-direction: column;
}
.footer .footer-section h3{
    color:white;
    padding: 2vh 0;
}
.footer a{
    color: var(--grayish-blue);
    padding: 1vh 0;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.attribution{
    color:white;
    padding: 2vh 0;
}


@media (min-width:650px) {
    .header{
        align-items: flex-start;
        justify-content: left;
    }
    .mobile-menu .mobile-label{
        display: none;
    }
    .mobile-menu .nav-menu{
        align-items: center;
        display: flex;
        position: inherit;
        background: none;
        box-shadow: none;
        padding: 0;
        width: 80vw;
    }
    .mobile-menu .nav-menu .categories .dropbtn{
        color: rgb(223, 223, 223);
        margin: 0 10px;
        min-width: 160px;
        padding: 0;
    }
    .mobile-menu .nav-menu .categories .dropbtn::after{
        content: url(images/icon-arrow-light.svg);
    }
    .nav-menu .categories label{
        display: none;
    }
    .nav-menu .categories .desktop-use{
        display: block;
    }
    .nav-menu .categories:hover .dropbtn{
        color: white;
        text-decoration: underline;
    }
    .nav-menu .categories:hover .dropbtn::after{
        transform: rotate(180deg);
    }
    .nav-menu .categories .dropdown-content{
        background-color: white;
    }
    .nav-menu .categories:hover .dropdown-content{
        display: block;
        position:absolute;
    }
    .nav-menu .categories .dropdown-content a:hover{
        background-color: white;
        border-radius: 5px;
        color: black;
        font-weight: bold;
    }
    .login, .sign-up{
        border: none;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        /* padding:10px; */
    }
    .login{
        color: rgb(223, 223, 223);
    }
    .sign-up{
        background: white;
        color: var(--light-red-gradient);
    }
    .sign-up:hover,.solid-button:hover{
        background: var(--very-light-red);
        color:white;
    }
    .solid-button:hover{
        border-color: var(--very-light-red);
    }
    .transparent-button:hover{
        background-color:white;
        color: var(--light-red);
    }
    h1{
        font-size:3.5rem;
    }
    .design-section h2, .phone-section h2, .laptop-section h2{
        margin: 5vh 6vw 2vh;
    }
    .design-section, .laptop-section{
        margin: 5vh 0;
    }
    #design-title{
        position: relative;
        top:12vh;
        margin:0;
    }
    .content-design, .laptop-section{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    .design-image{
        background-image: url(images/illustration-editor-desktop.svg);
        background-size: contain;
        background-position: left;
        height: 882px;
        width: 100%;
        grid-column: 2;
        grid-row: 1;
        margin:0;
    }
    .design-text{
        align-self: center;
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }
    
    .phone-section{
        background-size: initial;
        background-position:-10% 80%;
        display: flex;
        text-align: left;
    }
    .phone-section::before{
        background-size: 90% 80vh;
        background-position: center;
        height: 80vh;
        position: relative;
        bottom: 15vh;
    }
    .phone-section .phone-text{
        align-self: center;
    }
    .laptop-image{
        background-image: url(images/illustration-laptop-desktop.svg);
        height: 786px;
        margin:0;
        width: 100%;
    }
    .laptop-text{
        align-self: center;
        text-align: left;
    }
    .footer{
        align-items: flex-start;
        display: flex;
        justify-content: space-evenly;
    }
    .footer .logo{
        margin:0;
    }
    .footer-section{
        margin: 5vh 0;
    }
    .attribution{
        align-self: flex-end;
        display:inline;
        position: absolute;
    }
}
